@import url("https://fonts.googleapis.com/css?family=PT+Serif|Rubik:900");
@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
/**
 * Reset some basic elements
 ************************************************/
html,
body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}

div {
  padding: 0;
}

h1, h2, h3, h4, h5, h6, blockquote {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding: 0;
}

a img {
  border: none;
}

article, figure, footer, header, hgroup, nav, section {
  display: block;
}

/**
*Responsive Web Design reset
***************************************************/
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html {
  overflow-y: auto;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  background-color: #ffffff;
  color: #363636;
  line-height: 1.6;
  font-family: 'PT Serif', serif;
  font-size: 100%;
  margin: 0;
}

a {
  color: #FF6F00;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

a:hover {
  color: rgba(0, 0, 0, 0.4);
}

/**
*
*Headings
***************************************************/
h1, h2, h3, h4, h5 {
  font-size: 1.667em;
  line-height: 1.25em;
  margin-bottom: 0.25em;
  color: #3a3a3a;
  font-weight: bold;
}

h1 {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  margin: 11vmin auto 12vmin;
  text-align: center;
}

h2 a.article-title {
  color: #3a3a3a;
  font-family: 'Amatic SC', cursive;
  font-size: 2.9rem;
  line-height: 1.25em;
}

h3.text-main {
  font-family: 'Amatic SC', cursive;
  font-size: 6.27rem;
  text-align: center;
}

h5 {
  font-size: 1.375em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0 0 1em 0;
  text-align: justify;
}

/**
* List
******************************************/
ul {
  list-style-type: disc;
  margin: 0 0 2em;
  padding-left: 1.125em;
}

@media (min-width: 600px) {
  body {
    font-size: 118.8%;
  }
}
@media (min-width: 800px) {
  body {
    font-size: 131.3%;
  }

  body h2, body h3, body h4, body h5 {
    font-size: 1.875em;
  }

  body h5 {
    font-size: 1.375em;
  }
}
@media (min-width: 1030px) {
  body {
    font-size: 137.5%;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 143.8%;
  }
}
@media (min-width: 1400px) {
  body {
    font-size: 1.563em;
  }
}

/**
 * Figures
 */
figure > img {
  display: block;
}

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
  }
  blockquote > :last-child {
    margin-bottom: 0;
  }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}
