/**
* Header
***********************************************************************************/
#site-header {
  padding: 1em;
  border-bottom: 0.063rem solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
  line-height: 1;
  font-size: 0.78rem; }

a.site-title {
  font-family: 'Satisfy', cursive;
  font-size: 40px;
  line-height: 90px;
  letter-spacing: -1px; }
  a.site-title, a.site-title:visited {
    color: #424242; }

#nav li {
  margin: 1.8em 0 0;
  text-align: center;
  padding-left: 0; }

#nav ul {
  float: right;
  margin-top: 1.125em; }

#nav ul li {
  display: inline;
  margin-right: 0.875em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.03em; }

#nav ul li:last-child {
  margin-right: 0; }

#nav li a {
  color: #3a3a3a;
  padding: 0.5em 0; }

#nav a:hover {
  color: #FF6F00; }

@media (min-width: 300px) {
  a.site-title {
    font-size: 2.2em;
    width: 4.2em;
    height: 4.2em;
    margin: 0; }

  #nav ul {
    float: right;
    margin-top: 1.01em; } }
@media (min-width: 400px) {
  #site-header {
    border-bottom: none; }

  a.site-title {
    width: 4.2em;
    height: 4.2em;
    margin: 0; }

  #nav ul {
    float: right;
    margin-top: 0.7em; } }
@media (min-width: 600px) {
  a.site-title {
    font-size: 3.1em;
    width: 5em;
    height: 5em;
    padding: 0 0.1em 0.1em 0; }

  #site-header {
    padding: 1.125em 2em 1.125em 1.5em; }

  #nav ul {
    font-size: 1.125em;//1.025em;
    margin-top: 0.5em;}//3.125em; }

  #nav ul li {
    margin-right: 1.3em; } }
@media (min-width: 800px) {
  #site-header {
    padding: 1.125em 3em 1.125em 1.5em;
    border-bottom: none;
    font-size: 0.813rem; } }
@media (min-width: 1250px) {
  #site-header {
    font-size: 0.875rem; } }
/**
*Layout
*******************************************************************************/
.centered {
  max-width: 30em;
  margin: 0 auto;
  clear: both;
  width: 90%; }

.centered:after {
  content: "";
  display: table;
  clear: both; }

.section_content {
  margin: 3em auto; }

@media (min-width: 300px) {
  h2 a.article-title {
    font-size: 1.9rem;
  }

  h3.text-main {
    font-size: 4.9em; }

  .section_content {
    font-size: 0.819em; }

  .section_content p {
    font-size: 16px;
    margin: 0 0 1em;
  }
  .section_content a {
    font-size: 16px;
  }
}
@media (min-width: 400px) {
  h3.text-main {
    font-size: 6.123em; }

  .section_content {
    font-size: 0.819em; }

  .section_content p {
    font-size: 16px;
    margin: 0 0 1em;
  }
  .section_content a {
    font-size: 16px;
  }
}
@media (min-width: 600px) {
  h3.text-main {
    font-size: 5.66em; }

  .section_content {
    font-size: 0.819em; }

  .section_content p {
    font-size: 16px;
    margin: 0 0 1em;
  }
  .section_content a {
    font-size: 16px;
  }
}
@media (min-width: 800px) {
  h2 a.article-title {
    font-size: 2.9rem;
  }

  h3.text-main {
    font-size: 5.123em; }

  .section_content {
    margin: 8% auto;
    font-size: 0.913em; }

  .section_content p {
    font-size: 18px;
    margin: 0 0 1em;
  }
  .section_content a {
    font-size: 18px;
  }
}
@media (min-width: 1030px) {
  h2 a.article-title {
    font-size: 2.9rem;
  }

  h3.text-main {
    font-size: 3.123em; }

  .section_content {
    margin: 10vh auto 10vh;
    font-size: 1.008em; }

  .section_content p {
    font-size: 20px;
    margin: 0 0 1em;
  }
  .section_content a {
    font-size: 20px;
  }
}
@media (min-width: 1250px) {
  h2 a.article-title {
    font-size: 2.9rem;
  }

  h3.text-main {
    font-size: 4.123em; }

  .section_content {
    margin: 10vh auto 12vh;
    font-size: 1.0em; }

  .section_content p {
    font-size: 22px;
    margin: 0 0 1em;
  }
  .section_content a {
    font-size: 22px;
  }
}
/**
*Articles
*******************************************************************************/
.article {
  margin: 1em 0 2em 0; /*4% 0;*/ }

a.article-title:hover {
  color: #FF6F00; }

.post-header {
  padding-bottom: 1.1em; }

.post-meta {
  font-size: 14px;
  color: #828282;
  margin: -0.4em 0 1em; }

.post-meta span {
  font-size: 20px;
  font-style: italic; }

span.reading-time {
  position: relative;
  left: 14.3em;
  color: #FF6F00; }

.button {
    border: 2px solid #FF8F00;
    border-radius: 0.3em;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.button:hover {
  background-color: #FF8F00;
  color: white;
}

@media (min-width: 300px) {
  .post-title {
    font-size: 2.555em; }

  span.reading-time {
    position: relative;
    left: 1.0em;
  }

  .post-meta span {
    font-size: 15px;
  }
}
@media (min-width: 400px) {
  .post-title {
    font-size: 3.123em; }

  span.reading-time {
    position: relative;
    left: 9.3em;
  }

  .post-meta span {
    font-size: 15px;
  }
}
@media (min-width: 600px) {
  .post-title {
    font-size: 4.853em; }

  span.reading-time {
    position: relative;
    left: 16.3em;
  }

  .post-meta span {
    font-size: 15px;
  }
}
@media (min-width: 800px) {
  .post-title {
    font-size: 5.123em; }

  span.reading-time {
    position: relative;
    left: 17.3em;
  }

  .post-meta span {
    font-size: 17px;
  }
}
@media (min-width: 1000px) {
  .post-title {
    font-size: 150px; }

  span.reading-time {
    position: relative;
    left: 21em; } }
@media (min-width: 1050px) {
  .post-title {
    font-size: 150px; }

  span.reading-time {
    position: relative;
    left: 14.4em; } }

/**
 * Icons
 **************************************************************************/
.icon > svg {
  display: inline-block;
  vertical-align: middle; }

.icons-home {
  text-align: center;
  border-bottom: 0.063rem solid rgba(0, 0, 0, 0.2);
  padding: 0 0 4%; }

.icons-home a {
  display: inline-block;
  border-radius: 50%;
  border: .125rem solid #FF6F00;
  line-height: 0;
  transition: all .7s;
  margin: .125rem;
  padding: .938rem; }

.icons-home a .icon {
  fill: #FF6F00;
  width: 18px;
  height: 18px; }

.icons-home a:hover {
  background: #FF6F00; }

.icons-home a:hover .icon {
  fill: #fff; }

/**
* Previous and Next Paginate
************************************************************************/
.prenext {
  font-size: 20px;
  display: block;
  width: auto;
  overflow: hidden;
}
.prenext a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}
.prenext .next {
  text-align: right;
}

/**
* Share page
*************************************************************************/
.share-page {
  text-align: left;
  color: #333;
  border-radius: 5px;
  margin: 45px 0;
  }
  .share-page a {
    margin-left: 10px;
  }
    .share-page a:hover {
      border-bottom: 1px dashed #fff;
    }

/**
* Bio
************************************************************************/
.dipicture {
  width: 100%;
  margin-bottom: 6%;
  max-width: 200px;
  border-radius: 5px 20px 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
* Footer
*************************************************************************/
.site-footer {
  display: grid;
  border-top: 0.063rem solid rgba(0, 0, 0, 0.2);
  margin-top: 5em;
  letter-spacing: 0.02em;
  text-transform: uppercase; }

.footer-text {
  display: block;
  text-align: center;
  font-weight: 600;
  margin: 20px 0;
  padding: 10px; }

.footer-text span {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 1.57rem;
  line-height: 0.25em;
  padding: 3px 8px;
  margin-right: 1.5em; }

@media (min-width: 300px) {
  .footer-text span {
    font-size: 0.945rem; } }
@media (min-width: 600px) {
  .site-footer span {
    font-size: 1.413rem; } }
@media (min-width: 800px) {
  .site-footer span {
    font-size: 1.813rem; } }
@media (min-width: 1250px) {
  .site-footer span {
    font-size: 1.875rem; } }

/*
* Navbar
******************************************************************************/
li {
  float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 55px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 4.7em;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (min-width: 300px) {
  .dropdown-content {
    min-width: 45px;
    top: 5.3em;
  }
}
@media (min-width: 400px) {
  .dropdown-content {
    min-width: 45px;
    top: 5em;
  }
}
@media (min-width: 600px) {
  .dropdown-content {
    min-width: 50px;
    top: 4.9em;
  }
}
@media (min-width: 800px) {
  .dropdown-content {
    min-width: 55px;
    top: 4.8em;
  }
}
@media (min-width: 1250px) {
  .dropdown-content {
    min-width: 60px;
    top: 4.9em;
  }
}
