{% capture hide %}

{% if page.lang != 'pt' %}

  {% capture month %}{{ include.date | date: "%B" }}{% endcapture %}

  {% else %}

  {% assign m = include.date | date: "%-m" %}
  {% case m %}
    {% when '1' %}
      {% capture month %}Janeiro{% endcapture %}
    {% when '2' %}
      {% capture month %}Fevereiro{% endcapture %}
    {% when '3' %}
      {% capture month %}Março{% endcapture %}
    {% when '4' %}
      {% capture month %}Abril{% endcapture %}
    {% when '5' %}
      {% capture month %}Maio{% endcapture %}
    {% when '6' %}
      {% capture month %}Junho{% endcapture %}
    {% when '7' %}
      {% capture month %}Julho{% endcapture %}
    {% when '8' %}
      {% capture month %}Agosto{% endcapture %}
    {% when '9' %}
      {% capture month %}Setembro{% endcapture %}
    {% when '10' %}
      {% capture month %}Outbro{% endcapture %}
    {% when '11' %}
      {% capture month %}Novembro{% endcapture %}
    {% when '12' %}
      {% capture month %}Dezembro{% endcapture %}
  {% endcase %}

{% endif %}

{% capture year %}{{ include.date | date: "%Y" }}{% endcapture %}

{% endcapture %}
